#roxo{
  background-color: var(--roxo-principal);
  border-color: transparent;
  color: var(--texto-branco);
}

.input, .component-date {
  background-color: white;
  padding: 0px 1.5rem;
  height: 2.5rem;
  border: 1px solid;
  border-radius: 100px;
  font-size: 14.5px;
  letter-spacing: -0.03rem;
  color: var(--texto-preto);
  font-weight: 500;
}

.input {
  width: auto;
  border: 1.5px solid var(--texto-cinza);
}

.input:focus, .component-date:focus {
  outline: none;
  border-width: 2px;
  box-shadow: 0px 7px 4px var(--texto-cinza-opacidade-15);
}

.component-date{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.componet-input {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
}

.titulo-input {
  font-family: "Poppins";
  margin-left: 30px;
  font-weight: bold;
  letter-spacing: -0.03rem;

  font-size: 16px;
}

.input-date{
  width: 100%;   
}