.section-clientes {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 20vw;
}

.section-clientes .container-clientes {
  width: 100%;
  padding: 32px 0;
}

.section-clientes .container-clientes .content-clientes {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: flex-start;
}

.section-clientes .container-clientes .content-clientes .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-clientes .container-clientes .content-clientes .header .group-button{
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.section-clientes .container-clientes .content-clientes .table-clientes .sem-clientes{
  position: absolute;
  width: 70vw;
  height: fit-content;
  top: 49%;
  bottom: 49%;
  text-align: center;
  letter-spacing: -0.05rem;
  font-size: 1.2rem;
  color: var(--texto-cinza);
  font-weight: 500;
}