#sem-fundo {
  background-color: transparent;
  backdrop-filter: blur(0);
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--lilas-fundo);
  /* backdrop-filter: blur(4px); */
  z-index: 9999999999;
}

.nav {
  width: 90%;
  padding: 32px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .img-logo {
  height: 48px;
  cursor: pointer;
}

.header .list {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 64px;
}

.header .link-item {
  cursor: pointer;
  font-size: 16px;
  transition: 0.15s all ease-in-out;
  color: var(--texto-cinza-escuro);
  font-family: "Poppins";
}

.header .link-item:hover {
  color: var(--roxo-principal);
}

.header .group-button {
  display: flex;
  column-gap: 24px;
  align-items: center;
}
